/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Common CSS */
.container {
  display: flex;
}

.sidebar {
  background-color: #1e1c1f;
  color: whitesmoke;
  width: 18vw;
  height: 100vh;
  padding: 45px;
}

.sidebar nav ul {
  padding: 0;
}

.sidebar nav ul li {
  font-size: 30px;
  padding: 33px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

.main {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  padding: 23px;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 29px;
  display: inline;
  /* background: #4906f2; */
  color: white;
}
.ham{
  margin-top: 0.5px;
}
.cross {
  margin-left: 20vh;
  margin-top: 8px;
}

.sidebargo {
  transform: translate(-443px, 0px);
  position: absolute;
}

/* Info Container */
.infocontainer {
  background-color: whitesmoke;
  height: 58vh;
  width: 80vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}

.devinfo {
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hello,
.name {
  font-size: 3em;
  font-weight: bold;
}

.about {
  font-size: 2em;
}

.moreabout {
  font-size: 2.2em;
  margin-top: 23px;
}

.btn {
  margin: 2.2em;
  font-size: 16px;
}

/* Styling for the buttons */
.btn-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px; /* Adjust margin as needed */
  transition: background-color 0.3s ease;
}

.btn-link:hover {
  background-color: #0069d9; /* Darken the background color on hover */
}


.btn button:hover {
  color: dodgerblue;
  background-color: white;
}

.devpic img {
  height: 58vh;
  max-width: 100%;
  border-radius: 10px;
}

/* Contact Form */
.contactform {
  padding: 0 34px;
  padding-top: 120px;
  margin: 0 90px;
}

.contactform h1 {
  text-align: center;
  padding: 12px 0;
}

.contactform form {
  margin: 0 40px;
}

.contactform form div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.contactform form div input {
  width: 26vw;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}

#emailHelp {
  font-size: 11px;
  color: midnightblue;
  margin: 0 5px;
  padding: 3px 0 0 0;
}

#form-check {
  flex-direction: row;
}

#form-check input {
  width: 24px;
  margin: 3px 0;
}

/* Blog */
.blogcontainer {
  margin: 0 90px;
}

.blogcontainer h1 {
  margin: 23px;
}

.blogItem {
  margin: 20px;
}

/* Intro Page */
.intro {
  margin: 0 90px;
}

.intro h1,
.intro h2,
.intro p {
  margin: 12px;
}

.skilcontainer {
  padding: 12px;
}

.skillitem {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-weight: 900;
}

.skill {
  width: 23px;
  height: 23px;
  background-color: red;
  border: 3px solid black;
}

.hundered {
  width: 265px;
  background-color: crimson;
}

.fifty {
  width: 125px;
  background-color: brown;
}

.t5 {
  width: 75px;
  background-color: rgb(15, 38, 173);
}

/* Responsive */
@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .buttons {
    font-size: 6px;
  }

  .devinfo {
    font-size: 10px;
  }

  .devpic {
    display: none;
  }

  .intro,
  .blogcontainer,
  .contactform {
    margin: 50px 8px;
  }
}